@import "../variables";

.documentContainerWrapper {
  width: $container-width;
  margin: 50px auto;
}

.contentWrapper {
  display: flex;

  img {
    width: 500px;
  }
}

.leftContainer {
  min-width: 300px;
}

.navigationWrapper {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    height: 36px;
    line-height: 36px;
    border-left: 1px solid #efefef;
    padding-left: 30px;
    font-size: 18px;
    cursor: pointer;

    &:hover {
      border-left: 1px solid #999;
    }
  }
}

.header {
  margin-top: 0;
}

.content {
  font-size: 16px;
  line-height: 2.2;

  h2 {
    margin: 0;
  }
}
