<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vingle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  </head>
  <body>
    <div id="isomorphic-lambda"></div>
    <script src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
  </body>
</html>
